* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
}

/* header style start here */

.header {
  max-width: 1320px;
  min-height: 600px;
  /* border: 2px solid red; */
  margin: 0 auto;
  background-image: linear-gradient(
      180deg,
      rgb(7, 2, 17),
      rgba(7, 2, 17, 0) 100%
    ),
    url(../images/Banner\ Image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
}

.header-subtitle h3 {
  /* border: 2px solid green; */
  color: rgb(255, 255, 255);
  font: 400;
  font-size: 32px;
  text-align: center;
}

.header-title h1 {
  /* New Year Party Celebration */
  max-width: 632px;
  min-height: 190px;
  /* border: 2px solid red; */
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 72px;
  text-align: center;
}

/* all categories start here */

.all-categories {
  /* border: 2px solid black; */
  width: 802.9px;
  height: 806px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

.categories-top-container {
  /* border: 2px solid pink; */
}

.categories-top-container h2 {
  color: rgb(255, 0, 0);
  font-size: 88px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 48px;
}

.categories-top-container p {
  color: rgb(255, 0, 0);
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0%;
  text-align: center;
}

.categories-top-container h3 {
  color: rgb(7, 2, 17);
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 48px;
}

.categories-bottom-container {
  /* border: 2px solid blue; */
  max-width: 802.9px;
  min-height: 500px;
  background-image: url(../images/New\ Year\ Photo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* midnight start here */

.midnight {
  max-width: 1320px;
  min-height: 600px;
  margin: 0 auto;
  border: 2px solid green;
  border-radius: 16px;
  background-image: linear-gradient(
      90deg,
      rgb(7, 2, 17),
      rgba(7, 2, 17, 0) 100%
    ),
    url("../images/Vectorrr.png");
  margin-bottom: 120px;
  margin-top: 120px;
}

.midnight-party {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
}

.midnight-left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.midnight-left-container h2 {
  /* Welcome to midnight party */
  max-width: 642px;
  min-height: 176px;
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-size: 64px;
  color: rgb(255, 255, 255);
  text-align: left;
}

.midnight-left-container p {
  max-width: 697px;
  min-height: 60px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  font-size: 18px;
  text-align: left;
}

.midnight-left-container button {
  width: 103px;
  height: 24px;
  font-size: 20px;
  background-color: rgba(8, 3, 17, 1);
  color: rgb(255, 255, 255);
  font-weight: 700;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  border: none;
}

.midnight-right-container {
  display: flex;
  align-items: center;
  /* border: 2px solid purple; */
  margin-top: 70px;
}

.midnight-right-container img {
}
