* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
}

/* header style start here */

.header {
  max-width: 1320px;
  min-height: 600px;
  /* border: 2px solid red; */
  margin: 0 auto;
  background-image: linear-gradient(
      180deg,
      rgb(7, 2, 17),
      rgba(7, 2, 17, 0) 100%
    ),
    url(../images/Banner\ Image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
}

.header-subtitle h3 {
  /* border: 2px solid green; */
  color: rgb(255, 255, 255);
  font: 400;
  font-size: 32px;
  text-align: center;
}

.header-title h1 {
  /* New Year Party Celebration */
  max-width: 632px;
  min-height: 190px;
  /* border: 2px solid red; */
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 72px;
  text-align: center;
}

/* all categories start here */

.all-categories {
  /* border: 2px solid black; */
  width: 802.9px;
  height: 806px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

.categories-top-container {
  /* border: 2px solid pink; */
}

.categories-top-container h2 {
  color: rgb(255, 0, 0);
  font-size: 88px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 48px;
}

.categories-top-container p {
  color: rgb(255, 0, 0);
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0%;
  text-align: center;
}

.categories-top-container h3 {
  color: rgb(7, 2, 17);
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 48px;
}

.categories-bottom-container {
  /* border: 2px solid blue; */
  max-width: 802.9px;
  min-height: 500px;
  background-image: url(../images/New\ Year\ Photo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
